body{
  background-color: black;
}
p{
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  color: lightblue;
}
p:active{
  color: blue;
}
img{
  /*border-radius: 25px;*/
  width: 300px;
  height: 350px;
  transition: width 3s, height 3s;
}

img:hover{
  width: 500px;
  height: 550px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-content: center;
  /*grid-template-rows: 200px;*/
  grid-gap: 0px;
  padding: 5px;
  background-color: black;
}
.grid-container > div {
  border: 5px solid transparent;
}
/*.item5:hover{
  animation-name: moving;
  animation-duration: 5s;
}
@keyframes moving {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}*/
